<mat-list>
  <div mat-subheader>{{ 'app_list.title' | translate }}</div>
  <bd-spinner class="d-flex justify-center" *ngIf="loading"></bd-spinner>
  <div *ngFor="let app of apps; let last = last" [hidden]="loading">
    <bd-user-app
      [@fadeAnimation]
      [owner]="app.ownerName"
      [appTitle]="app.title"
      class="my-10"
    ></bd-user-app>
  </div>
  <div
  [hidden]="loading"
    [@fadeAnimation]
    *ngIf="apps.length === 0"
    class="text-center mat-headline">
    {{ 'app_list.no_apps_found' | translate }}
  </div>
</mat-list>